body {
    /* fallback for old browsers */
    background: #F3904F;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #19af52, #4ff373, #38f195);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #19af52, #4ff373, #38f195)
}

/*374px and down*/
.profileImage{
    height:200px;
}

/*375px and up*/
@media (min-width: 374.98px) {
    .profileImage {
        height: 200px;
    }
}

/*576px and up*/
@media (min-width: 575.98px) {
    .profileImage {
        height: 300px;
    }
}

/*768px and up*/
@media (min-width: 767.98px) {
    .profileImage{
        height:200px;
    }
}

/*992px and up*/
@media (min-width: 991.98px) {
    .profileImage {
        height: 300px;
    }
}

/*1200px and up*/
@media (min-width: 1199.98px) {
    .profileImage {
        height: 400px;
    }
}